* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background: #e3e6e9;
}

a {
  text-decoration: none;
  color: #5f6368;
}

.logo a {
  color: #fff;
  font-weight: bold;
  font-size: medium;
}

hr {
  margin: 5px 0;
}

/* Nav Bar CSS Starts From Here */
#navbar {
  padding: 13px;
  background: #24292e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar span.searchBox {
  display: flex;
  background: #24292e;
  align-items: center;
  position: relative;
  width: 40%;
}

#navbar span.searchBox input[type="text"] {
  background: #24292e;
  border-radius: 20px;
  border: 1px solid silver;
  padding: 8px 15px 8px 45px;
}

#navbar span.searchBox input[type="text"]::placeholder {
  color: silver;
}

#navbar span.searchBox input[type="text"]:focus {
  color: #24292e;
  background: #fff;
  outline: 0;
}
#navbar span.searchBox span.inputIcon,
#navbar span.searchBox span.inputIconRight {
  position: absolute;
  color: silver;
}

#navbar span.searchBox span.inputIcon {
  left: 20px;
}

#navbar span.searchBox span.inputIconRight {
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 50%;
  right: 20px;
}

#navbar span.searchBox span.inputIconRight:hover {
  color: grey;
}

#navbarspan.searchBoxinput[type="text"]:focus ~ span.inputIcon {
  color: #24292e;
}

#navbar ul {
  margin: 0;
  display: flex;
  align-items: center;
}

#navbar ul.menu {
  float: right;
}

#navbar ul.menu li {
  color: #fff;
  cursor: pointer;
}

#navbar ul.menu li:hover {
  color: silver;
}

#navbar ul li {
  float: left;
  list-style: none;
  padding: 0 10px;
}

#navbar ul li img {
  height: 22px;
  vertical-align: middle;
  border-radius: 100%;
}
/* Nav Bar CSS Ends Here */

/* SideBar CSS Starts From Here */
#sidebar {
  float: left;
  width: 20%;
  padding: 23px 0 15px 15px;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    flex: 1;
    width: 95%;
    margin: 0 auto;
  }
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li:first-child {
  margin-bottom: 15px;
}

#sidebar ul li a {
  display: block;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

#sidebar ul li:not(.active) a:hover {
  color: #fff;
  display: block;
  background: rgb(36, 41, 46, 0.3);
  border-radius: 20px;
  padding-left: 20px;
}

#sidebar ul li.active {
  padding: 0 20px;
  color: #fff;
  background: rgb(36, 41, 46, 0.6);
  border-radius: 20px;
}

#sidebar ul li.active a {
  color: #fff;
}

#sidebar ul li div {
  width: 80%;
}

#sidebar ul li div#myTotalStorage {
  height: 5px;
  margin-right: 500px;
  background: silver;
  border-radius: 10px;
}

#sidebar ul li div#usedStorage {
  height: 5px;
  border-radius: 10px;
}
/* SideBar CSS Ends Here */

.dropdown #newBtn {
  background: #fff;
  padding: 10px 23px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.dropdown #newBtn:hover,
.dropdown #newBtn:focus {
  box-shadow: 1px;
  outline: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.profile-menu-dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  overflow: auto;
  padding: 5px 0;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  overflow: auto;
  padding: 15px;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.profile-menu-dropdown-content a {
  color: #5f6368;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.profile-menu-dropdown-content a:not(:first-child):hover {
  color: #fff;
  background: #5f6368;
}

.dropdown-content a {
  color: #5f6368;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background: #fefefe;
  margin: 15% auto;
  padding: 10px 20px 45px 20px;
  border: 1px solid #888;
  width: 25%;
  border-radius: 10px;
}

.modal .modal-content .modal-top-header {
  margin: -25px 0 0 47.3%;
}
.modal .modal-content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-weight: 700;
}

.close {
  color: #aaa;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 10px #888888;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #cc472b;
  text-decoration: none;
  cursor: pointer;
}

.content {
  float: right;
  padding: 15px 15px 15px 0;
  width: 77%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 94%;
  }
}

.content .content-header {
  padding: 3px 0 18px 0;
  font-size: x-large;
}

.content .container {
  /* margin-top: 10px; */
}

.content table {
  width: 100%;
}

.content table thead {
  color: #fff;
  background: rgb(36, 41, 46, 0.6);
}

.content table thead tr th {
  font-weight: 500;
  padding: 10px 0;
}

.content table thead tr th:first-child {
  border-radius: 20px 0 0 20px;
}

.content table thead tr th:last-child {
  border-radius: 0 20px 20px 0;
}

.content table tbody tr td {
  font-weight: 500;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.content table tbody tr td:not(:first-child) {
  text-align: center;
}

.pull-right {
  float: right;
}

.mr-2 {
  margin-right: 2px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-9 {
  margin-right: 9px;
}

.mr-10 {
  margin-right: 10px;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  font-weight: bold;
  font-size: small;
}

.form-group label span.required {
  color: red;
}

input[type="file"] {
  width: 96%;
  padding: 5px;
}

input[type="text"] {
  width: 96%;
  padding: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

.btn {
  cursor: pointer;
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.btn.btn-system.btn-outline {
  padding: 10px 30px;
  border: 1px solid rgba(36, 41, 46, 0.5);
  background: none;
  color: #24292e;
  font-weight: bold;
}

.btn.btn-system.btn-outline:hover {
  border: 1px solid rgba(36, 41, 46, 0.5);
  background: rgba(36, 41, 46, 0.05);
  color: #24292e;
  font-weight: bold;
}

.btn.btn-success {
  color: #fff;
  background: green;
}

.btn.btn-info {
  color: #fff;
  background: #069ecc;
}

.btn.btn-primary {
  color: #fff;
  background: #005aae;
}

.btn.btn-warning {
  color: #fff;
  background: orange;
}

.btn.btn-danger {
  color: #fff;
  background: #cc472b;
}

.btn.btn-system {
  color: #fff;
  background: #24292e;
}

.text-success {
  color: #25820e;
}

.text-danger {
  color: #ca0b00;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: 0;
}

.form-control option {
  padding: 10px;
}

.modal-footer {
  padding: 10px;
}

#footer {
  text-align: center;
  position: fixed;
  border-top: 1px solid #84878b;
  bottom: 0;
  width: calc(100% - 30px);
  background: #e3e6e9;
  padding: 10px 0;
  left: 15px;
}

#footer a:hover {
  color: #24292e;
}

.mt-1 {
  margin-top: 1px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}
